#
# .gitconfig
#

[user]
	email = business.ottelli@gmail.com
	name = ottelli

[init]
    defaultBranch = master

[core]
    editor = vim

[alias]
    last = log -1 HEAD
    st = status -sbu
    co = checkout
    br = branch
    ci = commit
    aa = add -A
