! 
!! ~/.Xresources
!
!! ottelli
!

!
!! XTerm Specific
!

XTerm*termName: xterm-256color
XTerm*faceName: SauceCodePro Nerd Font:style=Bold
XTerm*faceSize: 11
XTerm*selectToClipboard: true

!
!! Colours
!

! True Black
!*.background: #000000

! Deep Grey (Bunker)
*.background: #0F1419

! Match current vim background
!*.background: #242f3c

*.foreground: #fefef2
*.cursorColor: #ffffff

! black
*.color0: #000000
*.color8: #000000

! red
*.color1: #ff5c5c
*.color9: #ff5c5c

! green
*.color2: #33cf23
*.color10:#33cf23

! yellow
*.color3: #da9637
*.color11:#da9637

! blue
*.color4: #1974d2
*.color12:#1974d2

! magenta
*.color5: #7e26e7
*.color13:#7e26e7

! cyan
*.color6: #46d9ff
*.color14:#46d9ff

! white
*.color7: #fefef2
*.color15:#fefef2
