! 
! ottelli
!

!Xft.dpi: 96
!Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: true
!Xft.hintstyle: hintfull


XTerm*termName: xterm-256color
!XTerm*renderFont: true
XTerm*faceName: Source Code Pro Semibold
XTerm*faceSize: 9

!*background: #0a0b0c 
*.background: #000000
*.foreground: #fefef2
*.cursorColor: #ffffff

! black
*.color0: #000000
*.color8: #000000

! red
*.color1: #ff6c6b
*.color9: #da8548

! green
*.color2: #98be65
*.color10:#4db5bd

! yellow
*.color3: #da8548
*.color11:#ecbe7b

! blue
*.color4: #51afef
*.color12:#36a3d9

! magenta
*.color5: #c678dd
*.color13:#a9a1a1

! cyan
*.color6: #5699af
*.color14:#46d9ff

! white
*.color7: #fefef2
*.color15:#fefef2
